:root {
  --background-color: #4c235c;
  --color-primario: #fff;
  --background-color1: #4b0f66;
  --background-color2: #5c4279;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
div[id] {
  scroll-margin-top: 115px;
}
.container {
  display: grid;
  grid-template-areas:
    "navbar"
    "header"
    "galery"
    "footer";
}

.navbar {
  grid-area: navbar;
}
.navbar__container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-areas: "logo icons";
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
  object-fit: cover;
  background-position: bottom;
  --open: scale(1);
  --close: scale(0);
  position: fixed;
  width: 100%;
  z-index: 5;
}
.navbar__fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  opacity: 90%;
}
.navbar__container:has(:target) {
  --open: scale(0);
  --close: scale(1);
}
.navbar__icons {
  grid-area: icons;
}
.navbar__title__container {
  display: flex;
  align-items: center;
  gap: 5px;
  grid-area: logo;
}
.navbar__logo {
  width: 50px;
}
.navbar__title {
  color: var(--color-primario);
}
.navbar__open__icon {
  transform: var(--open);
  transition: transform linear 0.3s;
}
.navbar__close__icon {
  transform: var(--close);
  transition: transform linear 0.3s;
}
.navbar__items {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  right: -100%;
  top: 100%;
  background-color: rgba(58, 27, 131, 0.904);
  width: 300px;
  height: 400px;
  transition: all ease-in-out 0.4s;
  z-index: 20;
  border-radius: 0 0 0 20px;
  padding: 0;
}
.navbar__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar__item__text {
  color: var(--color-primario);
  text-align: center;
  padding: 0 20px;
}
.navbar__link {
  color: var(--color-primario);
  text-decoration: none;
  font-size: 1.5rem;
}
.navbar__items:target {
  right: 0%;
}


.hedaer {
  grid-area: header;
}
.header__img__container {
  background-image: url(../images/imagen50.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  padding: 10px;
}
.header__img__title {
  text-align: center;
  color: var(--color-primario);
  margin-top: 50px;
}
.header_title__text {
  color: var(--color-primario);
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}
.header__img__content {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.header__img__text {
  color: var(--color-primario);
  font-weight: 700;
  background-color: #00000046;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 10px;
  transition: opacity linear 0.2s;
  font-size: 1rem;
  outline: 10px solid #00000046;
}
.header__img__text--upload {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.header__img__text:hover {
  opacity: 70%;
}
.header__input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color1);
  padding: 20px;
  position: relative;
}
.header__input__search {
  display: flex;
  align-items: center;
  background-color: red;
  border-radius: 0 15px 15px 0;
  padding-right: 5px;
  gap: 5px;
}
.header__icon {
  transform: scale(1.2);
  cursor: pointer;
  padding: 0 10px;
}
[placeholder="Buscar imágenes"] {
  height: 33px;
  border: none;
  outline: 1px solid black;
  width: 90%;
}
.header__select__container {
  height: 32px;
  border-radius: 15px 0 0 15px;
  border: none;
  background-color: var(--color-primario);
  width: 60%;
  height: 34px;
  border-top: 1px solid black;
  font-size: 0.8rem;
}
.header__select__container:has(:checked) {
  --rows: 1fr;
  --rotate: rotate(180deg);
}
.header__select__icon {
  transform: var(--rotate, 0);
}
.header__content {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
}
.header__item {
  padding-left: 30px;
}
.header__item--1 {
  padding-top: 20px;
}
.header__item--5 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin:0 auto 20px ;
  padding-left: 0;
  text-decoration: none;
  color: #000;
  width: 90%;
  gap: 6px;
}
.header__menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: var(--color-primario);
  outline: 1px solid #000;
  z-index: 4;
  overflow: hidden;
  box-shadow: 2px 2px 8px #000;
  border-radius: 15px;
  padding: 0 10px;
}
.header__check {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.header__link {
  text-decoration: none;
  color: #000;
  display: inline-block;
  width: 90%;
}
.header__link:hover, 
.header__item--5:hover {
  background-color: #a160605e;
  outline: 10px solid #cfcacaef;
  border-radius: 10px;
  opacity: 60%;
}
.header__select__menu__link {
  color: #000;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.header__select__menu__link:hover {
  opacity: 50%;
}

.galery__container {
  grid-area: galery;
  width: 97%;
  margin: 20px auto;
}
.galery__title {
  font-size: 1.8rem;
  margin: 20px 0;
}
.galery {
  display: grid;
  grid-template-columns: (1fr);
  gap: 20px;
  grid-auto-flow: dense;
}
.galery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform linear 0.2s, filter linear 0.2s;
}

.galery__container__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.galery__content__icons {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  text-decoration: none;
}
.galery__content__icons--active {
  outline: 10px solid #1f04384d;
  background-color: #0928423b;
}
.galery__content__icons:hover {
  outline: 10px solid #0014243b;
  background-color: #1f063f3b;
}
.galery__content__link {
  color: var(--background-color);
  font-weight: 700;
}
.galery__content {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.galery__content:hover .galery__img {
  transform: scale(1.05);
  cursor: pointer;
  filter: brightness(75%);
}
.galery__icon {
  background-color: #270009be;
  border-radius: 10px;
  transform: scale(0);
  cursor: pointer;
  padding: 10px;
}
.galery__content:hover .galery__icon {
  transform: scale(0.8);
}
.galery__icon--heart {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 2;
}
.galery__icon:hover {
  outline: 1px solid #fff;
}
.galery__icon--fav {
  position: absolute;
  top: 5px;
  right: 70px;
  z-index: 2;
}
.galery__icon--down {
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 2;
}


.footer__container {
  grid-area: footer;
  background-color: var(--background-color1);
  padding: 40px;
}
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-primario);
  gap: 20px;
  flex-direction: column;
  text-align: center;
}
.footer__logo__content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__img {
  width: 80px;
}
.footer__sections {
  display: flex;
  flex-direction: column;
  color: var(--color-primario);
}
.footer__sections--2{
  gap: 60px;
}
.footer__section {
  margin-bottom: 50px;
  flex-grow: 1;
}
.footer__section__title {
  padding-bottom: 10px;
}
.footer__section__link__text {
  padding-left: 40px;
}
.footer__section__link {
  color: var(--color-primario);
  text-decoration: none;
  line-height: 30px;
}
.footer__section__link:hover {
  text-decoration: underline;
}
.footer__social__section {
  color: var(--color-primario);
}
.footer__social__section--second {
  text-align: center;
}
.footer__social__icon {
  margin-top: 20px;
}
.footer__social__icons__contact {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}
.footer__social__contact {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.footer__social__redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media (min-width: 600px) {
  div[id] {
    scroll-margin-top: 0px;
  }
  .container {
    display: grid;
    grid-template-columns: 250px auto;

    grid-template-areas:
      "navbar header"
      "navbar galery"
      "navbar galery"
      "navbar footer";
  }
  .navbar__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: var(--background-color1);
    z-index: 8;
  }
  .navbar__title__container {
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
  }
  .navbar__fondo {
    display: none;
  }
  .navbar__items {
    position: static;
    background-color: transparent;
    padding: 10px;
    transition: none;
  }
  .navbar__item {
    transition: transform linear 0.2s;
    padding: 0 10px;
  }
  .navbar__item__text {
    margin-top: 40px;
  }
  .navbar__item:hover {
    background-color: #a7a7a744;
    outline: 8px solid #a7a7a744;
    border-radius: 8px;
  }
  .navbar__icons {
    display: none;
  }
  .header__select__container {
    height: 42px;
    width: 20%;
    min-width: 250px;
    font-size: 1rem;
  }
  .header__select {
    height: 40px;
    padding: 0 10px;
  }
  .header__input {
    margin-top: 0;
    padding: 30px;
  }
  .header__input__search {
    width: 100%;
  }
  .header__img__container {
    margin: 0;
  }
  .header__img__title {
    font-size: 2.5rem;
  }
  .header__img__container {
    background-image: url(../images/fondo1.jpg);
    display: block;
  }
  .header__img__content {
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: 0;
  }
  [placeholder="Buscar imágenes"] {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    text-transform: uppercase;
  }
  .galery__container {
    display: flex;
    flex-direction: column;
  }
  .galery {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .width {
    grid-column: span 2;
  }
  .height {
    grid-row: span 2;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-evenly;
    padding: 40px;
    position: relative;
    z-index: 10;
  }
  .footer__sections {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .footer__sections--1{
    border-bottom: 1px solid;
  }
  .footer__social__icons__contact {
    padding-left: 0;
  }
  .footer__social__icon--facebook,
  .footer__social__icon--instagram {
    position: relative;
  }
  .footer__social__icon--facebook::after {
    content: "Facebook";
    font-size: 0.8rem;
    position: absolute;
    font-size: 1rem;
    font-weight: 700;
    transform: scale(0);
    top: 100%;
    right: 0%;
    transition: transform linear 0.2s;
    background-color: rgb(55, 22, 92);
    color: #fff;
    padding: 0 10px;
    border-radius: 10px;
  }
  .footer__social__icon--instagram::after {
    content: "Instagram";
    font-size: 0.8rem;
    position: absolute;
    font-size: 1rem;
    font-weight: 700;
    top: 100%;
    left: 0%;
    transform: scale(0);
    transition: transform linear 0.2s;
    background-color: rgba(144, 6, 133, 1);
    color: #fff;
    padding: 0 10px;
    border-radius: 10px;
  }
  .footer__social__icon__redes {
    transition: transform linear 0.1s;
  }
  .footer__social__icon__redes:hover {
    transform: scale(1.2) translateY(-8px);
  }
  .footer__social__icon--instagram:hover::after,
  .footer__social__icon--facebook:hover::after {
    transform: scale(1);
  }
}
